<h1>Would you like to know your fotune?</h1>

<p style="font-size: 18px;">Then you are just at the right place.</p>

<button type="button">Get Fortune</button>

<p id="fortune"></p>

<input type="text" id="message">
<input class="broadcast" type="submit" value="Broadcast">

<ul id="broadcast" style="list-style-type: none;"></ul>
